annotated-types==0.7.0
attrs==24.2.0
black==23.12.1
build==1.2.2.post1
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
coverage==7.6.4
databind==4.5.2
databind.core==4.5.2
databind.json==4.5.2
defusedxml==0.7.1
Deprecated==1.2.15
distlib==0.3.9
docspec==2.2.1
docspec-python==2.2.1
docstring_parser==0.11
exceptiongroup==1.2.2
filelock==3.16.1
flake8==7.1.0
flake8-html==0.4.3
genbadge==1.1.1
identify==2.6.1
idna==3.10
iniconfig==2.0.0
isodate==0.7.2
Jinja2==3.1.4
lxml==5.3.0
lxml-stubs==0.5.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
mypy==1.10.1
mypy-extensions==1.0.0
nodeenv==1.9.1
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==3.7.1
pycodestyle==2.12.1
pydantic==2.9.2
pydantic_core==2.23.4
pydoc-markdown==4.8.2
pydocstyle==6.3.0
pyflakes==3.2.0
Pygments==2.18.0
pyproject_hooks==1.2.0
pytest==8.2.2
pytest-cov==6.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
requests-mock==1.12.1
requests-toolbelt==1.0.0
rich==13.9.4
shellingham==1.5.4
six==1.16.0
snowballstemmer==2.2.0
tabulate==0.9.0
tomli==2.0.2
tomli_w==1.1.0
typeapi==2.2.3
typer==0.13.1
types-pytz==2024.2.0.20241003
types-requests==2.32.0.20241016
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.27.0
watchdog==6.0.0
wrapt==1.17.0
yapf==0.43.0
